.message-container {
  margin-bottom: 20px;
}

.dialog-message {
  margin: 0;
  color: var(--text-color);
  font-size: 100%;
  line-height: 1.5;
}

.button-group {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.btn-form {
  color: var(--background-color);
  font-size: large;
  padding: 10px 14px;
  background-color: var(--primary-color);
  border-radius: 6px;
  transition: all 0.6s ease;
  box-shadow: 7px 7px 12px var(--shadow-color);
  align-items: center;
  justify-content: center;
}

.btn-form:hover {
  background-color: var(--primary-hover-color);
}

.btn-form i {
  font-size: 16px;
}
