<div class="leave">
  <div class="info">
    <h1>You have {{remainingTime | date: "HH:mm" : 'UTC'}} paid leave time</h1>
    <app-progress-bar
      [currentValue]="personalTime - remainingTime"
      [totalValue]="personalTime"
      class="vacation"
    />
  </div>
  <div class="leave-plan">
    <app-leave-slip-picker (addLeave)="addLeave($event)" />
    <div class="table">
      <mat-tab-group>
        <mat-tab label="Upcoming Leaves">
          <div class="tab-box">
            @if(futureLeaves.length) {
              <app-leave-slip-table
                [leaveList]="futureLeaves"
                (onDeleteLeaveEvent)="deleteLeave($event)"
                (onEditLeaveEvent)="editLeave($event)"
              />
            } @else {
              <p>There's no upcoming leave tickets</p>
            }
          </div>
        </mat-tab>
        <mat-tab label="Past Leaves">
          <div class="tab-box">
            @if(pastLeaves.length) {
              <app-leave-slip-table
                [leaveList]="pastLeaves"
                (onDeleteLeaveEvent)="deleteLeave($event)"
              />
            } @else {
              <p>There's no past leave tickets</p>
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
