<div class="admin-tables">
  <p class="txt-table-title">Pending leave requests</p>
  <app-date-filter (dateFilter)="onChangeDateFilterPending($event)" calendarPicker="future" />
  @if (filteredPendingLeaveRequests.length === 0) {
    <p class="txt-none">No pending leave requests</p>
  } @else {
    <table class="pending-table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Leave date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Reason</th>
          <th>Status</th>
          <th>Submitted on</th>
        </tr>
        @for (leave of filteredPendingLeaveRequests; track leave) {
          <tr>
            <td>{{ getUserEmail(leave.userId) }}</td>
            <td>{{ leave.leaveSlip.date | date: 'mediumDate' }}</td>
            <td>{{ leave.leaveSlip.startTime | date: 'hh:mm a' }}</td>
            <td>{{ leave.leaveSlip.endTime | date: 'hh:mm a' }}</td>
            <td>{{ leave.leaveSlip.description }}</td>
            <td>
              <button class="btn-status deny" (click)="onDeny(leave)" title="Deny">
                <i class="fas fa-times"></i>
                <p>Deny</p>
              </button>
              <button
                class="btn-status accept"
                (click)="onAccept(leave)"
                [title]="getValidationMessage(leave)"
                [disabled]="!isValidLeave(leave)"
              >
                <i class="fas fa-check"></i>
                <p>Accept</p>
              </button>
            </td>
            <td>{{ leave.leaveSlip.startTime | date: 'mediumDate' }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

  <p class="txt-table-title">Completed leave requests</p>
  <div class="filter">
    <app-date-filter
      (dateFilter)="onChangeDateFilterCompleted($event)"
      calendarPicker="all"
    />
    <app-status-filter
      (statusFilter)="onChangeStatusFilter($event)"
      [omitted]="[{ status: 'pending' }]"
    />
  </div>
  @if (filteredCompletedLeaveRequests.length === 0) {
    <p class="txt-none">No completed leave requests</p>
  } @else {
    <table class="completed-table">
      <tbody>
        <tr>
          <th>Status</th>
          <th>ID</th>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Undo</th>
        </tr>
        @for (leave of filteredCompletedLeaveRequests; track leave) {
          <tr>
            <td>
              <i
                [ngClass]="'fas fa-circle ' + leave.leaveSlip.status"
                [title]="leave.leaveSlip.status"
              ></i>
            </td>
            <td>{{ getUserEmail(leave.userId) }}</td>
            <td>{{ leave.leaveSlip.date | date: 'longDate' }}</td>
            <td>{{ leave.leaveSlip.startTime | date: 'hh:mm a' }}</td>
            <td>{{ leave.leaveSlip.endTime | date: 'hh:mm a' }}</td>
            <td>
              <button
                [class]="isValidLeave(leave) ? 'btn-icon' : 'btn-icon-disabled'"
                [disabled]="!isValidLeave(leave)"
                (click)="onUndo(leave)"
              >
                <i
                  class="fas fa-undo"
                  [title]="isValidLeave(leave) ? 'Undo leave' : 'Past date'"
                ></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
